<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<!--
   Channelize-Info.plist
   demo

   Created by Ashish-BigStep on 1/16/20.
   Copyright (c) 2020 Channelize. All rights reserved.
-->
<plist version="1.0">
    <dict>
        <key>PUBLIC_KEY</key>
        <string>Please Enter your Private Key</string>
        <key>AGORA_API_KEY_2</key>
        <string>Please Enter your Agora API Key if you have call Enabled</string>
        <key>MAP_API_KEY</key>
        <string>Please enter your map key</string>
        <key>GIPHY_API_KEY</key>
        <string>Please enter your Giphy key</string>
        <key>PRIVATE_KEY</key>
        <string>Please enter your Private key</string>
    </dict>
</plist>
