<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>MAP_API_KEY</key>
    <string>AIzaSyArBM9KKsj7UIrqlf0VVF1ajZwrKwX7SN0</string>
    <key>GIPHY_API_KEY</key>
    <string>Hbj9gr7HtEv0QyE2REtUVa24WjvCsGdu</string>
    <key>MQTT_URL</key>
    <string>socialengineaddonsmobiledemo.primemessenger.com</string>
    <key>API_URL</key>
    <string>https://socialengineaddonsmobiledemo.primemessenger.com/api</string>
    <key>PUBLIC_KEY</key>
    <string>gILWq2ulb1GocfxD</string>
</dict>
</plist>
