<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>MAP_API_KEY</key>
    <string></string>
    <key>GIPHY_API_KEY</key>
    <string></string>
    <key>MQTT_URL</key>
    <string></string>
    <key>API_URL</key>
    <string></string>
    <key>PUBLIC_KEY</key>
    <string></string>
    <key>AGORA_API_KEY</key>
	<string></string>
</dict>
</plist>
