<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>CLIENT_ID</key>
        <string>80191794946-95p1farto7v64okvohv1sfs51fu6nv9a.apps.googleusercontent.com</string>
        <key>REVERSED_CLIENT_ID</key>
        <string>com.googleusercontent.apps.80191794946-95p1farto7v64okvohv1sfs51fu6nv9a</string>
        <key>API_KEY</key>
        <string>AIzaSyDXk1pxIml1jiMVP498nZkrQ9pcw5890mU</string>
        <key>GCM_SENDER_ID</key>
        <string>80191794946</string>
        <key>PLIST_VERSION</key>
        <string>1</string>
        <key>BUNDLE_ID</key>
        <string>com.channelize.demo</string>
        <key>PROJECT_ID</key>
        <string>channelize-demo</string>
        <key>STORAGE_BUCKET</key>
        <string>channelize-demo.appspot.com</string>
        <key>IS_ADS_ENABLED</key>
        <false></false>
        <key>IS_ANALYTICS_ENABLED</key>
        <false></false>
        <key>IS_APPINVITE_ENABLED</key>
        <true></true>
        <key>IS_GCM_ENABLED</key>
        <true></true>
        <key>IS_SIGNIN_ENABLED</key>
        <true></true>
        <key>GOOGLE_APP_ID</key>
        <string>1:80191794946:ios:f89b5d64ff143725</string>
        <key>DATABASE_URL</key>
        <string>https://channelize-demo.firebaseio.com</string>
    </dict>
</plist>
